PROJECT_ENV=development

PORT=8000

DB_PORT=27017
DB_HOST=localhost
DB_TYPE=mongodb
DB_NAME=
# DB_USERNAME=
# DB_PASSWORD=
SALT_ROUNDS=

REGISTERED_EMAIL=
REGISTERED_PASSWORD=
#BACKUP_FILE="<Your filepath to backup the data>"
SECRET_KEY=

MAIL_SERVICE="gmail"
MAIL_AUTH_USER=
MAIL_AUTH_PASSWORD=

REACT_APP_BASE_URL=