<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="content">
        <h4 style=" text-align: center; font-size: 30px; padding: 25px 0px;">Alita Tools IT Support Management</h4>
    </div>
    <table style="width:100%; margin:0; padding:0; text-align:center;">
        <tr>
            <td style="padding:10px; font-size:20px; color:{{colour}}; line-height:normal ;">New ticket have been rised
                by
                {{firstname}}
                {{lastname}}.</td>
        </tr>
    </table>
</body>

</html>